{% extends 'base.html' %}
   {% block content %}

   <h1>Lab 1 Assignment PBP/PBD</h1>

   <h5>Name:</h5>
   <p>{{ name }}</p>

   <h5>Student ID:</h5>
   <p>{{ student_id }}</p>

   <table>
       <tr>
           <th>Item Name</th>
           <th>Item Price</th>
           <th>Item Stock</th>
           <th>Rating</th>
           <th>Description</th>
           <th>Item URL</th>
       </tr>

       {% for catalog in catalogs %}
       <tr>
           <td>{{catalog.item_name}}</td>
           <td>{{catalog.item_price}}</td>
           <td>{{catalog.item_stock}}</td>
           <td>{{catalog.rating}}</td>
           <td>{{catalog.description}}</td>
           <td>{{catalog.item_url}}</td>
       </tr>
       {% endfor %}

   </table>

   {% endblock content %}